
.nav_1{ width:995px; padding:0px 0px 0px 80px;}
.nav_1 li { float:left; width:162px; background:url(../images/Login/2011926/anniu.jpg) top center no-repeat; height:46px; font-family: "Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; text-align:center; padding-top:14px; }

.nav {background:url(../images/Login/2011926/denglu.jpg) no-repeat; width:1186px; height:84px;}
.nav_1 li a:hover { color:#d3d714; }