@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/160% Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #4d4d4d;
	line-height:20px;
}
th {
	font-size: 12px;
}
td {
	font-size: 12px;
}
body {
	font-size: 12px;
}
body { 
    margin: 0 auto;
    width:100%;	
	padding: 0;

}

a:link, a:visited {
	color: #4d4d4d;
	text-decoration: none;
}
a:hover, a:active {
	color: #0088dc;
	text-decoration: underline;
}

