<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。

    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中

-->
<configuration>
  
  <configSections>
    <section name="aspnetUploadSettings" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.5000.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    
    <!--郭辉-->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=LiNingTest;Integrated Security=True;"/>
    <!--郭辉-->
    <add key="ConnectionString1" value="server=218.246.34.156,9988;database=LiNingTest;uid=sa;pwd=ZYHYSQLSERVERDATA**O0;Connect Timeout=360000"/>
    
    <!--<add key="ConnectionString" value="server=218.246.34.156;database=DB_LiNing;uid=sa;pwd=ZYHYSQLSERVERDATA**O0;Connect Timeout=36000"/>-->
    <add key="Fashion_ConnectionString1" value="server=10.10.101.118;database=Fashion_LiNing;uid=sa;pwd=bjhfjt;Connect Timeout=700"/>
    <!--<add key="FOS_ConnectionString" value="server=10.10.101.118;database=FOS_LiNing;uid=sa;pwd=bjhfjt;Connect Timeout=700"/>-->
    <add key="FOS_ConnectionString1" value="server=10.10.107.118;database=FOS_LiNing;uid=sa;pwd=hftchina;Connect Timeout=36000"/>
    <!--<add key="FOS_ConnectionString" value="server=218.246.34.156;database=FOS_LiNingTest_DB;uid=sa;pwd=ZYHYSQLSERVERDATA**O0;Connect Timeout=36000"/>
    <add key="MiniShoe_ConnectionString" value="server=10.10.101.118;database=MiniShoe_LiNing;uid=sa;pwd=bjhfjt;Connect Timeout=700"/>
    <add key="NewRebate_ConnectionString" value="server=10.10.101.118;database=NewRebate_LiNing;uid=sa;pwd=bjhfjt;Connect Timeout=700"/>
    <add key="Rebate_ConnectionString" value="server=10.10.101.118;database=Rebate_LiNing;uid=sa;pwd=bjhfjt;Connect Timeout=700"/>-->
    <add key="FOS_ConnectionString" value="server=218.246.34.156,9988;database=FOS_LiNing;uid=sa;pwd=ZYHYSQLSERVERDATA**O0;Connect Timeout=36000"/>
    <add key="FCKeditor:BasePath" value="~/WebUI/Affiche/FckEditor/"/>
    <add key="UploadDir" value="WebUI/Affiche/UploadFiles"/>
    <add key="HostName" value="/Web/"/>
    <add key="FCKeditor:UserFilesPath" value="Web/WebUI/Affiche/UploadFiles"/>
    <add key="POPcycle" value="1"/>
    <add key="POPsubmit" value="3"/>
    <add key="POPadd" value="20"/>
    <add key="StrUrl" value="lining.hftnet.com"/>
    <!--Excel连接字符串-->
    <add key="ExcelConnString" value="Provider=Microsoft.Ace.OleDb.12.0;data source='ExcelPath';Extended Properties='Excel 12.0; HDR=YES; IMEX=1'"/>
    <!--上传图片格式-->
    <add key="UpLoadImgType" value="jpg|jpeg|gif|png|bmp|tga|tif|ico"/>
    <!--数据导入模板文件-->
    <add key="ShopTemplate" value="/Web/UpLoad/TemplateFile/ShopTemplate.xlsx"/>
    <!--推广：更新基础店铺数据-->
    <add key="UpdatePromotionShopsTemplate" value="/Web/UpLoad/TemplateFile/UpdateShopTemplate.xlsx"/>
    <!--POP季度活动/推广手动导入店铺导入模板文件-->
    <add key="POPShopsTemplate" value="/Web/UpLoad/TemplateFile/ShopsTemplate.xlsx"/>
    <!--更新店铺道具模板文件-->
    <add key="UpdateShopRackTemplate" value="/Web/UpLoad/TemplateFile/UpdateShopRackTemplate.xlsx"/>
    <!--更新推广订单模板文件-->
    <add key="UpdateOrderTemplate" value="/Web/UpLoad/TemplateFile/UpdateOrderTemplate.xlsx"/>
    
  </appSettings>
  <aspnetUploadSettings>
    <!--
    Key Name: lisenceKey
    Valid Value: Purchased lisence key from the control author.
    -->
    <add key="lisenceKey" value="Lisence key purchase from www.aspnetupload.net"/>
    <!--
    Key Name: maxRequestLength
    Valid Value: KBytes size of maximum upload file length to accept
    -->
    <add key="maxRequestLength" value="2048000"/>
  </aspnetUploadSettings>
  <connectionStrings>
    <add name="NewLiNingConnectionString1" connectionString="Data Source=10.10.101.118;Initial Catalog=NewLiNing;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="NewLiNingConnectionString2" connectionString="Data Source=10.10.101.118;Initial Catalog=NewLiNing;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient"/>
    <add name="DB_LiNingConnectionString1" connectionString="Data Source=10.10.101.118;Initial Catalog=DB_LiNing;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    
    <!-- 
            设置 compilation debug="true" 将调试符号插入

            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。

        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，

            以标识传入的用户。 
        -->
    <authentication mode="Forms"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页

            以代替错误堆栈跟踪。


        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- AspnetUpload Component -->
    <httpModules>
      <add name="UploadModule" type="Bestcomy.Web.Controls.Upload.UploadModule,Bestcomy.Web.Controls.Upload"/>
    </httpModules>
    <httpRuntime maxRequestLength="102400" executionTimeout="43200"/>
    
  </system.web>
  
</configuration>